<a href="https://colab.research.google.com/github/Fernando99ing/Challenge-alura-store/blob/main/Copia_de_AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En este primer análisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [2]:
suma_total_precio = tienda['Precio'].sum()
suma_total_precio2 = tienda2['Precio'].sum()
suma_total_precio3 = tienda3['Precio'].sum()
suma_total_precio4 = tienda4['Precio'].sum()

In [3]:
print(f'El valor total de las ventas de la tienda 1 es: ${suma_total_precio}')
print(f'El valor total de las ventas de la tienda 2 es: ${suma_total_precio2}')
print(f'El valor total de las ventas de la tienda 3 es: ${suma_total_precio3}')
print(f'El valor total de las ventas de la tienda 4 es: ${suma_total_precio4}')

El valor total de las ventas de la tienda 1 es: $1150880400.0
El valor total de las ventas de la tienda 2 es: $1116343500.0
El valor total de las ventas de la tienda 3 es: $1098019600.0
El valor total de las ventas de la tienda 4 es: $1038375700.0

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [4]:
ventas_por_categoria = tienda['Categoría del Producto'].value_counts()
ventas_por_categoria_2 = tienda2['Categoría del Producto'].value_counts()
ventas_por_categoria_3 = tienda3['Categoría del Producto'].value_counts()
ventas_por_categoria_4 = tienda4['Categoría del Producto'].value_counts()

In [5]:
print(f'Las ventas por categoría de la tienda 1 son: \n{ventas_por_categoria}')
print(f'\nLas ventas por categoría de la tienda 2 son: \n{ventas_por_categoria_2}')
print(f'\nLas ventas por categoría de la tienda 3 son: \n{ventas_por_categoria_3}')
print(f'\nLas ventas por categoría de la tienda 4 son: \n{ventas_por_categoria_4}')

Las ventas por categoría de la tienda 1 son:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Las ventas por categoría de la tienda 2 son:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Las ventas por categoría de la tienda 3 son:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Las ventas por categoría de la tienda 4 son:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [6]:
ventaPorCat = tienda.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventaPorCat2 = tienda2.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventaPorCat3 = tienda3.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)
ventaPorCat4 = tienda4.groupby('Categoría del Producto')['Precio'].sum().sort_values(ascending=False)

In [7]:
print(f'El valor de las ventas de por categoria de la tienda 1 es \n{ventaPorCat}')
print(f'\nEl valor de las ventas de por categoria de la tienda 2 es \n{ventaPorCat2}')
print(f'\nEl valor de las ventas de por categoria de la tienda 3 es \n{ventaPorCat3}')
print(f'\nEl valor de las ventas de por categoria de la tienda 4 es \n{ventaPorCat4}')

El valor de las ventas de por categoria de la tienda 1 es
Categoría del Producto
Electrónicos               429493500.0
Electrodomésticos          363685200.0
Muebles                    187633700.0
Instrumentos musicales      91299000.0
Deportes y diversión        39290000.0
Juguetes                    17995700.0
Artículos para el hogar     12698400.0
Libros                       8784900.0
Name: Precio, dtype: float64

El valor de las ventas de por categoria de la tienda 2 es
Categoría del Producto
Electrónicos               410831100.0
Electrodomésticos          348567800.0
Muebles                    176426300.0
Instrumentos musicales     104990300.0
Deportes y diversión        34744500.0
Juguetes                    15945400.0
Artículos para el hogar     14746900.0
Libros                      10091200.0
Name: Precio, dtype: float64

El valor de las ventas de por categoria de la tienda 3 es
Categoría del Producto
Electrónicos               410775800.0
Electrodomésticos          329237900.0
Muebles                    201072100.0
Instrumentos musicales      77380900.0
Deportes y diversión        35593100.0
Juguetes                    19401100.0
Artículos para el hogar     15060000.0
Libros                       9498700.0
Name: Precio, dtype: float64

El valor de las ventas de por categoria de la tienda 4 es
Categoría del Producto
Electrónicos               409476100.0
Electrodomésticos          283260200.0
Muebles                    192528900.0
Instrumentos musicales      75102400.0
Deportes y diversión        33350100.0
Juguetes                    20262200.0
Artículos para el hogar     15074500.0
Libros                       9321300.0
Name: Precio, dtype: float64

In [8]:
ventas_y_valor_t = tienda.groupby('Categoría del Producto').agg(
    Cantidad=('Producto', 'count'),
    Total_Ventas=('Precio', 'sum')
).sort_values('Total_Ventas', ascending=False)

ventas_y_valor_t2 = tienda2.groupby('Categoría del Producto').agg(
    Cantidad=('Producto', 'count'),
    Total_Ventas=('Precio', 'sum')
).sort_values('Total_Ventas', ascending=False)

ventas_y_valor_t3 = tienda3.groupby('Categoría del Producto').agg(
    Cantidad=('Producto', 'count'),
    Total_Ventas=('Precio', 'sum')
).sort_values('Total_Ventas', ascending=False)

ventas_y_valor_t4 = tienda4.groupby('Categoría del Producto').agg(
    Cantidad=('Producto', 'count'),
    Total_Ventas=('Precio', 'sum')
).sort_values('Total_Ventas', ascending=False)

print(f'Tienda 1{ventas_y_valor_t}')
print(f'\nTienda 2{ventas_y_valor_t2}')
print(f'\nTienda 3{ventas_y_valor_t3}')
print(f'\nTienda 4{ventas_y_valor_t4}')

Tienda 1                         Cantidad  Total_Ventas
Categoría del Producto
Electrónicos                  448   429493500.0
Electrodomésticos             312   363685200.0
Muebles                       465   187633700.0
Instrumentos musicales        182    91299000.0
Deportes y diversión          284    39290000.0
Juguetes                      324    17995700.0
Artículos para el hogar       171    12698400.0
Libros                        173     8784900.0

Tienda 2                         Cantidad  Total_Ventas
Categoría del Producto
Electrónicos                  422   410831100.0
Electrodomésticos             305   348567800.0
Muebles                       442   176426300.0
Instrumentos musicales        224   104990300.0
Deportes y diversión          275    34744500.0
Juguetes                      313    15945400.0
Artículos para el hogar       181    14746900.0
Libros                        197    10091200.0

Tienda 3                         Cantidad  Total_Ventas
Categoría del Producto
Electrónicos                  451   410775800.0
Electrodomésticos             278   329237900.0
Muebles                       499   201072100.0
Instrumentos musicales        177    77380900.0
Deportes y diversión          277    35593100.0
Juguetes                      315    19401100.0
Artículos para el hogar       177    15060000.0
Libros                        185     9498700.0

Tienda 4                         Cantidad  Total_Ventas
Categoría del Producto
Electrónicos                  451   409476100.0
Electrodomésticos             254   283260200.0
Muebles                       480   192528900.0
Instrumentos musicales        170    75102400.0
Deportes y diversión          277    33350100.0
Juguetes                      338    20262200.0
Artículos para el hogar       201    15074500.0
Libros                        187     9321300.0

# 3. Calificación promedio de la tienda

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [9]:
calificacion_promedio = tienda['Calificación'].mean()
calificacion_promedio2 = tienda2['Calificación'].mean()
calificacion_promedio3 = tienda3['Calificación'].mean()
calificacion_promedio4 = tienda4['Calificación'].mean()

In [10]:
print(f'La calificacion promedio de la tienda 1 es: {calificacion_promedio:.4f}')
print(f'La calificacion promedio de la tienda 2 es: {calificacion_promedio2:.4f}')
print(f'La calificacion promedio de la tienda 3 es: {calificacion_promedio3:.4f}')
print(f'La calificacion promedio de la tienda 4 es: {calificacion_promedio4:.4f}')

La calificacion promedio de la tienda 1 es: 3.9767
La calificacion promedio de la tienda 2 es: 4.0373
La calificacion promedio de la tienda 3 es: 4.0483
La calificacion promedio de la tienda 4 es: 3.9958

# 4. Productos más y menos vendidos

En este paso, debes identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [17]:
# ---- Productos más y menos vendidos por tienda ----

def resumen_productos(df, nombre_tienda):
    conteo = df['Producto'].value_counts()

    mas_vendido = conteo.idxmax()
    ventas_mas = conteo.max()

    menos_vendido = conteo.idxmin()
    ventas_menos = conteo.min()

    print(f"\n===== {nombre_tienda} =====")
    print(f"Producto más vendido:  {mas_vendido}  ({ventas_mas} ventas)")
    print(f"Producto menos vendido: {menos_vendido}  ({ventas_menos} ventas)")
    print("\nTop 5 más vendidos:")
    print(conteo.head())
    print("\nTop 5 menos vendidos:")
    print(conteo.tail())


# ---- Ejecutar para cada tienda ----

resumen_productos(tienda,  "Tienda 1")
resumen_productos(tienda2, "Tienda 2")
resumen_productos(tienda3, "Tienda 3")
resumen_productos(tienda4, "Tienda 4")

===== Tienda 1 =====
Producto más vendido:  Microondas  (60 ventas)
Producto menos vendido: Auriculares con micrófono  (33 ventas)

Top 5 más vendidos:
Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

Top 5 menos vendidos:
Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

===== Tienda 2 =====
Producto más vendido:  Iniciando en programación  (65 ventas)
Producto menos vendido: Juego de mesa  (32 ventas)

Top 5 más vendidos:
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Guitarra acústica            58
Pandereta                    58
Name: count, dtype: int64

Top 5 menos vendidos:
Producto
Auriculares        37
Sillón             35
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

===== Tienda 3 =====
Producto más vendido:  Kit de bancas  (57 ventas)
Producto menos vendido: Bloques de construcción  (35 ventas)

Top 5 más vendidos:
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
Name: count, dtype: int64

Top 5 menos vendidos:
Producto
Guitarra eléctrica         38
Set de vasos               36
Mochila                    36
Microondas                 36
Bloques de construcción    35
Name: count, dtype: int64

===== Tienda 4 =====
Producto más vendido:  Cama box  (62 ventas)
Producto menos vendido: Guitarra eléctrica  (33 ventas)

Top 5 más vendidos:
Producto
Cama box                     62
Cubertería                   59
Dashboards con Power BI      56
Cama king                    56
Carrito de control remoto    55
Name: count, dtype: int64

Top 5 menos vendidos:
Producto
Refrigerador                   38
Ciencia de datos con Python    38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
Name: count, dtype: int64

In [18]:
# ---- Productos que generaron más y menos dinero por tienda ----

def resumen_ingresos(df, nombre_tienda):
    ingresos = df.groupby('Producto')['Precio'].sum().sort_values(ascending=False)

    prod_mas = ingresos.idxmax()
    dinero_mas = ingresos.max()

    prod_menos = ingresos.idxmin()
    dinero_menos = ingresos.min()

    print(f"\n===== {nombre_tienda} =====")
    print(f"Producto que generó MÁS dinero:    {prod_mas}  (${dinero_mas:,.0f})")
    print(f"Producto que generó MENOS dinero:  {prod_menos} (${dinero_menos:,.0f})")

    print("\nTop 5 productos que más dinero generaron:")
    print(ingresos.head())

    print("\nTop 5 productos que menos dinero generaron:")
    print(ingresos.tail())


# ---- Ejecutar para cada tienda ----

resumen_ingresos(tienda,  "Tienda 1")
resumen_ingresos(tienda2, "Tienda 2")
resumen_ingresos(tienda3, "Tienda 3")
resumen_ingresos(tienda4, "Tienda 4")

===== Tienda 1 =====
Producto que generó MÁS dinero:    TV LED UHD 4K  ($142,150,200)
Producto que generó MENOS dinero:  Cuerda para saltar ($652,800)

Top 5 productos que más dinero generaron:
Producto
TV LED UHD 4K       142150200.0
Refrigerador        112143300.0
Iphone 15            97902200.0
Smart TV             67452100.0
Lavadora de ropa     65783600.0
Name: Precio, dtype: float64

Top 5 productos que menos dinero generaron:
Producto
Ajedrez de madera     1430600.0
Set de vasos          1359100.0
Cubo mágico 8x8        696900.0
Dinosaurio Rex         688900.0
Cuerda para saltar     652800.0
Name: Precio, dtype: float64

===== Tienda 2 =====
Producto que generó MÁS dinero:    Iphone 15  ($113,225,800)
Producto que generó MENOS dinero:  Cubo mágico 8x8 ($643,600)

Top 5 productos que más dinero generaron:
Producto
Iphone 15           113225800.0
TV LED UHD 4K       103375000.0
Refrigerador         97632500.0
Lavadora de ropa     66762300.0
Smart TV             61142000.0
Name: Precio, dtype: float64

Top 5 productos que menos dinero generaron:
Producto
Set de vasos          1542600.0
Ajedrez de madera     1287700.0
Cuerda para saltar     856900.0
Dinosaurio Rex         770300.0
Cubo mágico 8x8        643600.0
Name: Precio, dtype: float64

===== Tienda 3 =====
Producto que generó MÁS dinero:    Refrigerador  ($99,889,700)
Producto que generó MENOS dinero:  Cubo mágico 8x8 ($640,400)

Top 5 productos que más dinero generaron:
Producto
Refrigerador     99889700.0
TV LED UHD 4K    96669100.0
Iphone 15        93225700.0
Smart TV         78837300.0
Lavavajillas     64364800.0
Name: Precio, dtype: float64

Top 5 productos que menos dinero generaron:
Producto
Bloques de construcción    1237200.0
Set de vasos               1210700.0
Cuerda para saltar          853800.0
Dinosaurio Rex              795600.0
Cubo mágico 8x8             640400.0
Name: Precio, dtype: float64

===== Tienda 4 =====
Producto que generó MÁS dinero:    Iphone 15  ($96,697,500)
Producto que generó MENOS dinero:  Cuerda para saltar ($704,800)

Top 5 productos que más dinero generaron:
Producto
Iphone 15        96697500.0
TV LED UHD 4K    90295300.0
Smart TV         82790400.0
Refrigerador     75271900.0
Tablet ABXY      56723100.0
Name: Precio, dtype: float64

Top 5 productos que menos dinero generaron:
Producto
Set de vasos          1471800.0
Ajedrez de madera     1075500.0
Dinosaurio Rex         858100.0
Cubo mágico 8x8        748400.0
Cuerda para saltar     704800.0
Name: Precio, dtype: float64

In [19]:
# ---- Productos que generaron más y menos dinero + cantidad vendida ----

def resumen_ingresos(df, nombre_tienda):

    # Cantidad de ventas por producto
    cantidad = df['Producto'].value_counts()

    # Dinero generado por producto
    ingresos = df.groupby('Producto')['Precio'].sum()

    # Unir todo en una sola tabla
    tabla = pd.concat([cantidad, ingresos], axis=1)
    tabla.columns = ['Cantidad Vendida', 'Total Ganado']
    tabla = tabla.sort_values('Total Ganado', ascending=False)

    # Identificar top y bottom
    prod_mas = tabla.index[0]
    dinero_mas = tabla.iloc[0, 1]
    cant_mas = tabla.iloc[0, 0]

    prod_menos = tabla.index[-1]
    dinero_menos = tabla.iloc[-1, 1]
    cant_menos = tabla.iloc[-1, 0]

    print(f"\n===== {nombre_tienda} =====")
    print(f"Producto que generó MÁS dinero: {prod_mas}")
    print(f"  → Total ganado: ${dinero_mas:,.0f}")
    print(f"  → Cantidad vendida: {cant_mas}")

    print(f"\nProducto que generó MENOS dinero: {prod_menos}")
    print(f"  → Total ganado: ${dinero_menos:,.0f}")
    print(f"  → Cantidad vendida: {cant_menos}")

    print("\nTop 5 productos con mayor ganancia:")
    print(tabla.head())

    print("\nTop 5 productos con menor ganancia:")
    print(tabla.tail())


# ---- Ejecutar para cada tienda ----

resumen_ingresos(tienda,  "Tienda 1")
resumen_ingresos(tienda2, "Tienda 2")
resumen_ingresos(tienda3, "Tienda 3")
resumen_ingresos(tienda4, "Tienda 4")

===== Tienda 1 =====
Producto que generó MÁS dinero: TV LED UHD 4K
  → Total ganado: $142,150,200
  → Cantidad vendida: 60

Producto que generó MENOS dinero: Cuerda para saltar
  → Total ganado: $652,800
  → Cantidad vendida: 40

Top 5 productos con mayor ganancia:
                  Cantidad Vendida  Total Ganado
Producto
TV LED UHD 4K                   60   142150200.0
Refrigerador                    54   112143300.0
Iphone 15                       49    97902200.0
Smart TV                        44    67452100.0
Lavadora de ropa                47    65783600.0

Top 5 productos con menor ganancia:
                    Cantidad Vendida  Total Ganado
Producto
Ajedrez de madera                 49     1430600.0
Set de vasos                      41     1359100.0
Cubo mágico 8x8                   44      696900.0
Dinosaurio Rex                    40      688900.0
Cuerda para saltar                40      652800.0

===== Tienda 2 =====
Producto que generó MÁS dinero: Iphone 15
  → Total ganado: $113,225,800
  → Cantidad vendida: 55

Producto que generó MENOS dinero: Cubo mágico 8x8
  → Total ganado: $643,600
  → Cantidad vendida: 45

Top 5 productos con mayor ganancia:
                  Cantidad Vendida  Total Ganado
Producto
Iphone 15                       55   113225800.0
TV LED UHD 4K                   45   103375000.0
Refrigerador                    49    97632500.0
Lavadora de ropa                49    66762300.0
Smart TV                        40    61142000.0

Top 5 productos con menor ganancia:
                    Cantidad Vendida  Total Ganado
Producto
Set de vasos                      46     1542600.0
Ajedrez de madera                 45     1287700.0
Cuerda para saltar                50      856900.0
Dinosaurio Rex                    42      770300.0
Cubo mágico 8x8                   45      643600.0

===== Tienda 3 =====
Producto que generó MÁS dinero: Refrigerador
  → Total ganado: $99,889,700
  → Cantidad vendida: 50

Producto que generó MENOS dinero: Cubo mágico 8x8
  → Total ganado: $640,400
  → Cantidad vendida: 44

Top 5 productos con mayor ganancia:
               Cantidad Vendida  Total Ganado
Producto
Refrigerador                 50    99889700.0
TV LED UHD 4K                42    96669100.0
Iphone 15                    46    93225700.0
Smart TV                     54    78837300.0
Lavavajillas                 52    64364800.0

Top 5 productos con menor ganancia:
                         Cantidad Vendida  Total Ganado
Producto
Bloques de construcción                35     1237200.0
Set de vasos                           36     1210700.0
Cuerda para saltar                     53      853800.0
Dinosaurio Rex                         46      795600.0
Cubo mágico 8x8                        44      640400.0

===== Tienda 4 =====
Producto que generó MÁS dinero: Iphone 15
  → Total ganado: $96,697,500
  → Cantidad vendida: 48

Producto que generó MENOS dinero: Cuerda para saltar
  → Total ganado: $704,800
  → Cantidad vendida: 43

Top 5 productos con mayor ganancia:
               Cantidad Vendida  Total Ganado
Producto
Iphone 15                    48    96697500.0
TV LED UHD 4K                40    90295300.0
Smart TV                     54    82790400.0
Refrigerador                 38    75271900.0
Tablet ABXY                  45    56723100.0

Top 5 productos con menor ganancia:
                    Cantidad Vendida  Total Ganado
Producto
Set de vasos                      46     1471800.0
Ajedrez de madera                 39     1075500.0
Dinosaurio Rex                    47      858100.0
Cubo mágico 8x8                   47      748400.0
Cuerda para saltar                43      704800.0

# 5. Envío promedio por tienda